.venv/
*.pdf
.python-version

# LaTeX ビルド成果物
*.aux
*.dvi
*.log
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# Python
__pycache__/
data/*
!data/.gitkeep
!data/mnist/
!data/fashion/
data/mnist/*
!data/mnist/.gitkeep
data/fashion/*
!data/fashion/.gitkeep
artifacts/*
!artifacts/.gitkeep
!artifacts/figures/
!artifacts/latex/
artifacts/figures/*
!artifacts/figures/.gitkeep
artifacts/latex/*
!artifacts/latex/.gitkeep

# Archive 内のビルド成果物
archive/note/out/
